.Weather{
    background-color: aquamarine;
    text-align: left;
}

.Temperature {
    font-style: italic;
}

.Precipitation{
    cursor: cell;
}

.Wind{
    margin-bottom: 18px;
    text-align: right;
}

.WaterTemp{
    padding: 3px;
    border: 3px solid black;
}

.AtmosphericPress{
    color: green;
    text-align: center;
}